@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Material+Icons");
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-family: "Roboto Mono", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
    color: blue-grey;
    font-weight: 400;
}

.centered-container {
    background: #FFFFFF;
    padding: 1rem 1.5rem;
    border-radius: .125rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.04);
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
}

.actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: .25rem 0 1rem;
}

.actions-title {
    display: block;
    width: 100%;
    margin: 0 0 .25rem;
    color: #777777;
}

.actions-content {
    display: flex;
    flex-direction: row;
}

#panel {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 30em;
}

.btn {
    position: relative;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    padding: 0 1.25rem;
    line-height: 2.125rem;
    font-size: .875rem;
    font-weight: 400;
    text-align: center;
    margin: .125rem;
    border-radius: .125rem;
    border: 2px solid #3F4C5C;
    background-color: #3F4C5C;
    color: #FFFFFF;
    text-decoration: none;
    transition: color .125s ease;
    overflow: hidden;
    cursor: pointer;
    vertical-align: middle;
    outline: none;
}
.btn:before {
    background-color: #FFFFFF;
    content: "";
    display: flex;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    transition: -webkit-transform .25s ease;
    transition: transform .25s ease;
    transition: transform .25s ease, -webkit-transform .25s ease;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    position: absolute;
    overflow: hidden;
    border-radius: 1px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.btn span {
    display: flex;
    position: relative;
    z-index: 1;
}
.btn .icon {
    line-height: 2.125rem;
    font-size: 1.25rem;
    margin: 0 .25rem 0 -.25rem;
}
.btn:hover, .btn:active, .btn:focus {
    color: #3F4C5C;
}
.btn:hover:before, .btn:active:before, .btn:focus:before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.btn.block {
    align-self: stretch;
    width: 100%;
    flex: 1 1 auto;
}
.btn.bordered {
    background-color: transparent !important;
    color: #3F4C5C;
}
.btn.bordered:before {
    background-color: #3F4C5C;
}
.btn.bordered:hover, .btn.bordered:active, .btn.bordered:focus {
    color: #FFFFFF;
}
.btn.rounded {
    border-radius: 1.1875rem;
}
.btn.hard {
    border-radius: 0;
}

.btn.blue {
    background-color: #4793FF;
    border-color: #4793FF;
    color: #FFFFFF;
}
.btn.blue:hover, .btn.blue:active, .btn.blue:focus {
    color: #4793FF;
}
.btn.blue.bordered {
    color: #4793FF;
}
.btn.blue.bordered:before {
    background-color: #4793FF;
}
.btn.blue.bordered:hover, .btn.blue.bordered:active, .btn.blue.bordered:focus {
    color: #FFFFFF;
}
.btn.green {
    background-color: #29C672;
    border-color: #29C672;
}
.btn.green:hover, .btn.green:active, .btn.green:focus {
    color: #29C672;
}
.btn.green.bordered {
    color: #29C672;
}
.btn.green.bordered:before {
    background-color: #29C672;
}
.btn.green.bordered:hover, .btn.green.bordered:active, .btn.green.bordered:focus {
    color: #FFFFFF;
}
.btn.orange {
    background-color: #FFAE47;
    border-color: #FFAE47;
}
.btn.orange:hover, .btn.orange:active, .btn.orange:focus {
    color: #FFAE47;
}
.btn.orange.bordered {
    color: #FFAE47;
}
.btn.orange.bordered:before {
    background-color: #FFAE47;
}
.btn.orange.bordered:hover, .btn.orange.bordered:active, .btn.orange.bordered:focus {
    color: #FFFFFF;
}
.btn.red {
    background-color: #FF4747;
    border-color: #FF4747;
}
.btn.red:hover, .btn.red:active, .btn.red:focus {
    color: #FF4747;
}
.btn.red.bordered {
    color: #FF4747;
}
.btn.red.bordered:before {
    background-color: #FF4747;
}
.btn.red.bordered:hover, .btn.red.bordered:active, .btn.red.bordered:focus {
    color: #FFFFFF;
}
